/*css reset code */

html>body {
	font-size:12px;
} /* for everything else */

/*字体边框等初始化*/
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td {
	padding: 0;
	margin: 0;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
fieldset,img {
	border: 0;
}
address,caption,cite,code,dfn,th,var {
	font-weight: normal;
	font-style: normal;
}
ol,ul {
	list-style: none;
}
caption,th {
	text-align: left;
}
h1,h2,h3,h4,h5,h6 {
	font-weight: normal;
	font-size: 100%;
}
abbr,acronym { 
	border: 0;
}
input,button{
	border: none;
	outline: none;
}
a {
	text-decoration:none;
}
/*清浮动*/
.clearfix:after{
	content: '';
	height: 0;
	display: block;
	clear: both;
}
/*ie*/
.clearfix{
	zoom: 1;
}